body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    background-image: url("img/backgrounds/PNG/Site BG/mountains.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: flex-end;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.title h1 {
    margin-bottom: 0;
}

.title p {
    margin-bottom: 3px;
}

.key-legend-section {
    width: 720px;
    background-color: blanchedalmond;
}

.key-legend-headline {
    display: flex;
    justify-content: center;
}

.key-legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.explain-key {
    display: flex;
    align-items: center;
    gap: 4px;
}

.explain-key span {
    text-decoration: underline;
}

.explain-key h3 {
    margin: 0;
}

.key-legend-and-game-rules-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}

.btn {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    height: 60px;
    background-color: rgb(224, 150, 11);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn h3 {
    margin: 0 20px;
}

.btn:hover {
    background-color: rgb(241, 167, 28);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    text-decoration: underline;
}

.game-rules {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-rules-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: blanchedalmond;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    padding: 48px;
    border-radius: 68px;
    box-shadow: 2px 4px 6px rgba(241, 167, 28, 0.5);
}

.close-game-rules-btn {
    width: 30%;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        font-size: 60px;
    }

    100% {
        opacity: 1;
        font-size: 30px;
    }
}

.fade-in-scale {
    animation: fadeInScale 2s ease forwards;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    header,
    .key-legend-section {
        display: none;
    }

    .game-rules-text {
        font-size: 8px;
    }

    .btn {
        font-size: 8px;
    }

    .btn h3 {
        margin: 0;
    }

    .mobile-keys-section {
        display: flex !important;
        justify-content: space-around;
        position: relative;
        bottom: 68px;
        width: 100%;
        margin-top: 10px;
        gap: 140px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media (max-width: 1200px) {
    .game-rules-text {
        width: 80%;
    }
}

.mobile-keys-section {
    display: none;
}

.mobile-keys-move,
.mobile-keys-jump-throw {
    display: flex;
    gap: 40px;
}

.mobile-key {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #ccc;
    border-radius: 50%;
    border: none;
}

.mobile-key p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}